*.rpyc
!old-game/**

*.rpyc~
*.rpy~
log.txt
*.save
*.psd
.vscode/
game/saves/persistent
*.bak
cache/
tl/

game/cache/bytecode.rpyb
game/cache/pyanalysis.rpyb
game/cache/screens.rpyb
game/saves/navigation.json
traceback.txt
errors.txt
game/saves/navigation.json
game/script_version.txt
